# La Grande Fuga
Sulla base del libro di Angus Deaton "La Grande Fuga - salute, ricchezza e origini della disuguaglianza", sarà replicata a livello base l'analisi svolta approfondendo le dinamiche di "speranza di vita" e "reddito" che caratterizzano l'Italia e le regioni italiane

- Open Data -> ISTAT

In [1]:
# Import librerie per analisi dati (Pandas) e dati Istat
import os
import pandas as pd
import numpy as np
from IPython.core.display import HTML
import istat
import jsonstat

# cache dir per velocizzare analisi in locale
cache_dir = os.path.abspath(os.path.join("..", "tmp/od_la_grande_fuga", "istat_cached"))
istat.cache_dir(cache_dir)
istat.lang(0)  # lingua italiano
print("cache_dir is '{}'".format(istat.cache_dir()))

cache_dir is '/home/acesarini/opendata/tmp/od_la_grande_fuga/istat_cached'

In [2]:
# Lista Aree
# istat.areas()
istat_area_pop = istat.area(8)

## Speranza di vita alla nascita

In [4]:
# Lista Dataset - Popolazione -> KPI: Speranza di vita alla nascita
istat_dataset_popolazione = istat_area_pop.dataset('DCIS_INDDEMOG1')
istat_dataset_popolazione

DCIS_INDDEMOG1(3):Indicatori  demografici

In [5]:
# Lista di tutte le Dimensioni
#istat_dataset_popolazione.dimensions()

In [6]:
# Speranza di Vita Maschi
spec1 = {
    #"Territorio":1,                 # 1 -> Italia
    #"Anno":2167,                   # ALL
    "Tipo indicatore":75            # 75 -> Speranza di vita alla nascita - maschi
}

collection1 = istat_dataset_popolazione.getvalues(spec1)
ds = collection1.dataset(0)
df_m = ds.to_data_frame('Territorio')

In [7]:
# Speranza di Vita Femmine
spec2 = {
    #"Territorio":1,                # 1 -> Italia
    #"Anno":2167,                   # ALL
    "Tipo indicatore":77            # 77 -> Speranza di vita alla nascita - femmine
}

collection2 = istat_dataset_popolazione.getvalues(spec2)
ds2 = collection2.dataset(0)
df_f = ds2.to_data_frame('Territorio')

In [8]:
df_f.count()

Anno     1946
Value    1946
dtype: int64

In [9]:
df_m.count()

Anno     1946
Value    1946
dtype: int64

In [50]:
# Calcolo Speranza di Vita alla Nascita (media tra maschi e femmine) - Territorio Italia, Nord e Sud
df_merge = pd.concat([df_m, df_f], axis=1)
df_merge.columns = ['Anno', 'Value_M', 'Anno_F', 'Value_F']
df_merge = df_merge.drop('Anno_F', 1)
df_merge.reset_index(level=0, inplace=True)

def value(x):
    return round(((x['Value_F'] + x['Value_M'])/2),1)

df_merge['Value'] = df_merge.apply(lambda x: value(x), axis=1)
df_merge = df_merge.drop('Value_F', 1)
df_merge = df_merge.drop('Value_M', 1)

df_merge=df_merge[(df_merge['Territorio']=='Italia') |
                  (df_merge['Territorio']=='Nord') |
                  (df_merge['Territorio']=='Sud')]

In [49]:
# df_merge.head(2)

# writer = pd.ExcelWriter('Vita.xlsx')
# df_merge.to_excel(writer,'vita')
# writer.save()

   Territorio  Anno  Value
0      Italia  2002   80.1
1      Italia  2003   80.0
2      Italia  2004   80.8
3      Italia  2005   80.8
4      Italia  2006   81.2
5      Italia  2007   81.2
6      Italia  2008   81.3
7      Italia  2009   81.5
8      Italia  2010   81.8
9      Italia  2011   82.0
10     Italia  2012   82.0
11     Italia  2013   82.2
12     Italia  2014   82.7
13     Italia  2015   82.3
14       Nord  2002   80.2
15       Nord  2003   80.2
16       Nord  2004   81.0
17       Nord  2005   81.1
18       Nord  2006   81.4
19       Nord  2007   81.6

In [52]:
# Directory dove salvare i file, da utilizzare in data_visualization
dir_df = os.path.join(os.path.abspath(''),'stg')

df_merge_filename = r'df_vita.pkl'
df_merge_fullpath = os.path.join(dir_df, df_merge_filename)
df_merge.to_pickle(df_merge_fullpath)

## Reddito pro capite

In [56]:
istat_area_cn = istat.area(17)
istat_dataset_reddito = istat_area_cn.dataset('DCCN_TNA')
istat_dataset_reddito

DCCN_TNA(10):Valore aggiunto, Redditi da lavoro, Spesa per consumi finali (famiglie e PA), Investimenti fissi lordi, Valori pro capite

In [76]:
#istat_dataset_reddito.dimensions()

In [112]:
# Prodotto Interno Lordo ai prezzi di mercato per abitante

spec2 = {
#"Territorio":1,
"Tipo aggregato":27,
#"Branca di attività (NACE Rev2)":128,
#"Attività non finanziarie":3,
#"Funzione di spesa (coicop/cofog)":3,
"Valutazione":9,
#"Correzione":1,
#"Tipologia di prezzo":1,
"Edizione":2223
#"Tempo e frequenza":1920
}

collection2 = istat_dataset_reddito.getvalues(spec2)
#ds = collection.dataset(0)

In [113]:
ds = collection2.dataset(0)
df_red = ds.to_data_frame('Tempo e frequenza')
df_red.reset_index(level=0, inplace=True)
df_red = df_red[['Tempo e frequenza','Territorio', 'Value']]

In [114]:
df_red=df_red[(df_red['Territorio']=='Italia') |
                  (df_red['Territorio']=='Nord') |
                  (df_red['Territorio']=='Sud')]

In [115]:
#writer = pd.ExcelWriter('Reddito.xlsx')
#df_red.to_excel(writer,'reddito')
#writer.save()

In [116]:
df_red_filename = r'df_reddito.pkl'
df_red_fullpath = os.path.join(dir_df, df_red_filename)
df_red.to_pickle(df_red_fullpath)