## Tassi di Mortalità

In [1]:
# Import librerie per analisi dati (Pandas) e dati Istat
import os
import pandas as pd
import numpy as np
from IPython.core.display import HTML
import istat
import jsonstat

# cache dir per velocizzare analisi in locale
cache_dir = os.path.abspath(os.path.join("..", "tmp/od_la_grande_fuga", "istat_cached"))
istat.cache_dir(cache_dir)
istat.lang(0)  # lingua italiano
# print("cache_dir is '{}'".format(istat.cache_dir()))

cache_dir is '/home/acesarini/opendata/tmp/od_la_grande_fuga/istat_cached'

In [17]:
dir_df = os.path.join(os.path.abspath(''),'stg')

In [2]:
istat_area_pop = istat.area(8)

In [3]:
istat_dataset_popolazione = istat_area_pop.dataset('DCIS_MORTALITA1')
istat_dataset_popolazione

DCIS_MORTALITA1(5):Tavole

In [72]:
# istat_dataset_popolazione.dimensions()

In [57]:
# Numero di Morti per Classi di Età nel 2015 Italia
spec_it = {
    "Territorio":1,                 
    "Funzioni biometriche":59,            
    #"Sesso":1, 
    #"Età e classi di età":1
    "Anno": 2186
}

In [58]:
# Numero di Morti per Classi di Età nel 2015 Nord
spec_n = {
    "Territorio":3,                 
    "Funzioni biometriche":59,            
    #"Sesso":1, 
    #"Età e classi di età":1
    "Anno": 2186
}

In [59]:
# Numero di Morti per Classi di Età nel 2015 Sud
spec_s = {
    "Territorio":89,                 
    "Funzioni biometriche":59,            
    #"Sesso":1, 
    #"Età e classi di età":1
    "Anno": 2186
}

In [64]:
def get_df(spec, value):
    c = istat_dataset_popolazione.getvalues(spec)
    ds = c.dataset(0)
    df = ds.to_data_frame('Sesso')
    df.columns = ['Eta', value]
    df=df[(df['Eta']=='fino a 4 anni') |
       (df['Eta']=='5-9 anni') |
       (df['Eta']=='10-14 anni') |
       (df['Eta']=='15-19 anni') |
       (df['Eta']=='20-24 anni') |
       (df['Eta']=='25-29 anni') |
       (df['Eta']=='30-34 anni') |
       (df['Eta']=='35-39 anni') |
       (df['Eta']=='40-44 anni') |
       (df['Eta']=='45-49 anni') |
       (df['Eta']=='50-54 anni') |
       (df['Eta']=='55-59 anni') |
       (df['Eta']=='60-64 anni') |
       (df['Eta']=='65-69 anni') |
       (df['Eta']=='70-74 anni') |
       (df['Eta']=='75-79 anni') |
       (df['Eta']=='80-84 anni') |
       (df['Eta']=='85-89 anni') 
      ]
    df = df.groupby('Eta',as_index=False)
    df = df.agg({value : np.sum})
    return df

In [88]:
df_it = get_df(spec_it, 'Value_IT')
df_n = get_df(spec_n, 'Value_N')
df_s = get_df(spec_s, 'Value_S')

In [89]:
df = pd.merge(df_it,df_n, how='inner', on=['Eta', 'Eta'])

In [90]:
df = pd.merge(df,df_s, how='inner', on=['Eta', 'Eta'])

In [91]:
df.Eta.replace(['fino a 4 anni','5-9 anni'], ['00-04 anni','05-09 anni'], inplace=True)

In [92]:
df.sort_values(by=['Eta'], ascending=[1])

           Eta  Value_IT  Value_N  Value_S
17  00-04 anni     711.0    653.0    779.0
8   05-09 anni      75.0     71.0     79.0
0   10-14 anni      86.0     88.0     95.0
1   15-19 anni     209.0    201.0    230.0
2   20-24 anni     298.0    295.0    287.0
3   25-29 anni     332.0    322.0    338.0
4   30-34 anni     412.0    387.0    466.0
5   35-39 anni     604.0    550.0    677.0
6   40-44 anni     910.0    826.0   1047.0
7   45-49 anni    1517.0   1410.0   1710.0
9   50-54 anni    2457.0   2299.0   2734.0
10  55-59 anni    3903.0   3685.0   4393.0
11  60-64 anni    6154.0   5940.0   6425.0
12  65-69 anni    9255.0   9106.0   9886.0
13  70-74 anni   14520.0  14080.0  15583.0
14  75-79 anni   22041.0  21334.0  23709.0
15  80-84 anni   34677.0  34170.0  35768.0
16  85-89 anni   44315.0  44657.0  43350.0

In [93]:
df_filename = r'df_morte.pkl'
df_fullpath = os.path.join(dir_df, df_filename)
df.to_pickle(df_fullpath)

In [18]:
# writer = pd.ExcelWriter('Eta.xlsx')
# df.to_excel(writer,'eta')
# writer.save()