## G9 - Istruzione

In [1]:
# Import librerie per analisi dati (Pandas) e dati Istat
import os
import pandas as pd
import numpy as np
from IPython.core.display import HTML
import istat
import jsonstat

# cache dir per velocizzare analisi in locale
cache_dir = os.path.abspath(os.path.join("..", "tmp/od_la_grande_fuga", "istat_cached"))
istat.cache_dir(cache_dir)
istat.lang(0)  # lingua italiano

dir_df = os.path.join(os.path.abspath(''),'stg')

In [6]:
area_istruzione = istat.area(12)
ds_istruzione = area_istruzione.dataset('DCCV_POPTIT')
ds_istruzione

DCCV_POPTIT(8):Popolazione 15 anni e oltre per titolo di studio

In [13]:
ds_istruzione.dimension('Tempo e frequenza')

'Tempo e frequenza' (1977:'2004', 1979:'T1-2004', 1983:'T2-2004', 1988:'T3-2004', 1992:'T4-2004', 1996:'2005', 1998:'T1-2005', 2002:'T2-2005', 2007:'T3-2005', 2011:'T4-2005', 2015:'2006', 2017:'T1-2006', 2021:'T2-2006', 2026:'T3-2006', 2030:'T4-2006', 2034:'2007', 2036:'T1-2007', 2040:'T2-2007', 2045:'T3-2007', 2049:'T4-2007', 2053:'2008', 2055:'T1-2008', 2059:'T2-2008', 2064:'T3-2008', 2068:'T4-2008', 2072:'2009', 2074:'T1-2009', 2078:'T2-2009', 2083:'T3-2009', 2087:'T4-2009', 2091:'2010', 2093:'T1-2010', 2097:'T2-2010', 2102:'T3-2010', 2106:'T4-2010', 2110:'2011', 2112:'T1-2011', 2116:'T2-2011', 2121:'T3-2011', 2125:'T4-2011', 2129:'2012', 2131:'T1-2012', 2135:'T2-2012', 2140:'T3-2012', 2144:'T4-2012', 2148:'2013', 2150:'T1-2013', 2154:'T2-2013', 2159:'T3-2013', 2163:'T4-2013', 2167:'2014', 2169:'T1-2014', 2173:'T2-2014', 2178:'T3-2014', 2182:'T4-2014', 2186:'2015', 2188:'T1-2015', 2192:'T2-2015', 2197:'T3-2015', 2201:'T4-2015', 2207:'T1-2016', 2211:'T2-2016', 2216:'T3-2016')

In [29]:
# NORD
spec_n = {
    "Territorio":4,
    "Sesso":3,
    "Classe di età":28,
    "Cittadinanza":3,
    "Tempo e frequenza":2186
}

#SUD
spec_s = {
    "Territorio":88,
    "Sesso":3,
    "Classe di età":28,
    "Cittadinanza":3,
    "Tempo e frequenza":2186
}

In [33]:
def istr(ds, spec, nome):
    c = ds.getvalues(spec)
    ds = c.dataset(0)
    df = ds.to_data_frame('Titolo di studio')
    df.reset_index(level=0, inplace=True)
    df.columns = ['Titolo',nome]
    return df

In [34]:
df_s = istr(ds_istruzione,spec_s, 'Sud')
df_n = istr(ds_istruzione,spec_n, 'Nord')

In [37]:
df_s

                                              Titolo       Sud
0  licenza di scuola elementare, nessun titolo di...   4005.88
1                            licenza di scuola media   6169.13
2         diploma 2-3 anni (qualifica professionale)    401.85
3                        diploma 4-5 anni (maturità)   5331.22
4                                            diploma   5733.07
5                               laurea e post-laurea   1960.92
6                                             totale  17869.00